composer.lock
vendor/**
vendor/*
vendor/composer/autoload_namespaces.php
/src/env/**
/src/env/app.php
/Public/**
# logs/app.log
vendor/composer/autoload_files.php
src/env/app.php
# src/env/app-exemple.php
bd/escola_ist(2).sql
bd/*